streamlit==1.32.2
pandas==2.2.1
rich==13.4.2
streamlit-antd-components==0.3.2
st-cytoscape
pyaml==23.12.0
PyYAML==6.0.1
pydantic==1.10.4
streamlit-pydantic==0.6.0
xsdata-pydantic==22.10
bson==0.5.10
streamlit-condition-tree
xsdata==23.6
xsdata-pydantic==22.10
openpyxl
xlsxwriter

